.dark {
  background-color: #696969;
}

.dark-text {
  color: #f0f8ff;
}

.red {
  background-color: #f08080;
}

.red-text {
  color: #0ff;
}

.some {
  background-color: #90ee90;
}

.some-text {
  color: #483d8b;
}